// Colors

$grey: #777;
$primary-color: #58e1c1;
$white: #fff;
$default-color: #51ddfc;
$error-color: #e4757a;
$info-color: #927bc1;
$success-color: #63cc82;
$warning-color: #fd7856;

// font font-family
$font-lato: Lato, sans-serif;
$brdr: 5px;
// Mediaquery breakpoint
$break-wide: 768px;

// Theme Colors
$themes: (
  'col-1': #927bc1,
  'col-2': #fd7856,
  'col-3': #deb2ee,
  'col-4': #7ee6fd,
  'col-5': #88d9a0,
  'col-6': #4da2bb,
  'col-7': #ec9fa3,
  'col-8': #fd9f85,
  'col-9': #e4757a,
  'col-10': #63cc82,
  'col-11': $default-color,
  'col-12': #80e8d1,
);
